<div *ngIf="paginator.data.length > 0" class="pagination-container">
    <ngb-pagination [collectionSize]="paginator.total"
                    [(page)]="paginator.cur_page"
                    [pageSize]="pageSize"
                    [maxSize]="maxSize"
                    [rotate]="true"
                    (pageChange)="changePage($event)"
                    [boundaryLinks]="true"></ngb-pagination>
</div>