<div class="row">
    <div *ngIf="result; else loader" class="col-md-12">

        <h4>Звіт про проходження теми {{result.unit.name}}</h4>

        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Практика">
                <ng-template ngbTabContent>
                    <schema [instances]="types"
                            [schema]="result.schema"
                            [config]="config"></schema>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Тест">
                <ng-template ngbTabContent>
                    <div *ngFor="let qa of result.test; let questionIndex = index"
                         style="margin-top: 15px"
                         class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span>Питання ({{questionIndex + 1}}) - {{qa.question.name}}</span>
                                <span
                                        class="badge badge-pill"
                                        [ngClass]="{
                    'badge-danger': !qa.is_right,
                    'badge-success': qa.is_right
                   }">
                  {{qa.is_right ? 'Правильно' : 'Неправильно'}}
                </span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Відповідь - <span>{{qa.answer.name}}</span></h4>
                                <p *ngIf="!qa.is_right" class="card-text">Правильна відповідь -
                                    {{qa.correct_answer.name}}</p>
                            </div>
                        </div>

                    </div>

                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

    <ng-template #loader>Loading...</ng-template>

</div>