<td>{{item.id}}</td>
<td>
    <button class="btn btn-sm btn-primary" type="button" (click)="byUser()">
        {{item.user.name}}
    </button>
</td>
<td>
    <button class="btn btn-sm btn-primary" type="button" (click)="byUnit()">
        {{item.unit.name}}
    </button>
</td>
<td>{{item.current_tab | tabPipe}}</td>
<td>{{item.status | statusPipe}}</td>
<td>{{item.updated_at}}</td>
<td>
    <a [class.disabled]="!isEnd"
       [routerLink]="['/panel/statistics/' + item.id]">{{isEnd ? 'Результат' : 'Не завершений'}}</a>
</td>
<td *ngIf="isAdmin && isEnd">
    <button *ngIf="!item.deleted_at" (click)="softDelete()"
            title="Безопасное удаление"
            class="btn btn-sm btn-info"
            type="button">
        X
    </button>
    <span *ngIf="item.deleted_at">Видалено</span>
</td>