<div #fullscreenContainer class="col-md-12 schema">
    <div #controlsContainer class="row">
        <div *ngIf="config.controls" class="col-md-4 col-6 col-lg-2 margin-top">
            <select placement="bottom"
                    ngbTooltip="При зміні типу діаграми - дані старої діаграми видаляються"
                    (change)="onSelectType()" class="form-control" [(ngModel)]="schema.type" name="type">
                <option *ngFor="let type of instances" [value]="type.value">{{type.name}}</option>
            </select>
        </div>
        <div *ngIf="config.controls" class="col-md-4 col-6 col-lg-2 margin-top">
            <input type="text" id="schema-name" class="form-control" [(ngModel)]="schema.name">
        </div>
        <div *ngIf="config.showBtnSave" class="col-md-4 col-12 margin-top">
            <button (click)="save()" class="btn btn-primary btn-block form-control">Зберегти</button>
        </div>
        <div class="col-md-3 col-6 col-lg-2 margin-top">
            <button type="button" class="btn btn-outline-primary" (click)="fullscreen()">
                На весь екран

            </button>
        </div>
        <div class="col-md-3 col-6 col-lg-2 margin-top">
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Додатково
            </button>
        </div>
    </div>
    <div [ngbCollapse]="isCollapsed" class="row">
        <div class="col-md-12">
            <div id="collapseExample" class="row">
                <div class="col-md-3">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Экспорт
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <!--<button (click)="exportDiagram(exportTypes.PRINT)" class="dropdown-item">Печать
                            </button>-->
                            <button (click)="exportDiagram(exportTypes.IMAGE)" class="dropdown-item">Завантажити картинку
                            </button>
                            <!--<button (click)="exportDiagram(exportTypes.PDF)" class="dropdown-item">Скачать PDF
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #goJSDiagram class="row diagram-container margin-top diagram"></div>

</div>