<div class="modal-header">
    <h4 class="modal-title">Перехід</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Ви збираєтеся піти зі сторінки не зберігши результати.</p>
    <p>Дані при підтвердженні будуть втрачені.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="dontSave()">Піти</button>
    <button type="button" class="btn btn-outline-dark" (click)="working()">Залишитись</button>
</div>