<div class="test-slider hidden-xs-down hidden-sm-down">
    <ul>
        <li *ngFor="let question of questions; let questionIndex = index">
            <a (click)="scrollTo($event, questionIndex)" href="#">{{question.name}}</a>
        </li>
    </ul>
</div>