<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <input [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" type="text" class="form-control"
                       placeholder="Ім'я користувача або тема">
            </div>
            <div class="col-md-2">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownTab" ngbDropdownToggle>За вкладкою</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownTab">
                        <button (click)="filterByTab(null)" class="dropdown-item">Всі</button>
                        <hr>
                        <button *ngFor="let tab of tabs" (click)="filterByTab(tab.id)" class="dropdown-item">
                            {{tab.text}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownStatus" ngbDropdownToggle>По статусу</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownStatus">
                        <button (click)="filterByStatus(null)" class="dropdown-item">Всі</button>
                        <hr>
                        <button *ngFor="let status of statuses" (click)="filterByStatus(status.id)"
                                class="dropdown-item">{{status.text}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownStatus" ngbDropdownToggle>Тип</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownStatus">
                        <button (click)="all()" class="dropdown-item">Всі</button>
                        <button (click)="bySoftDelete()" class="dropdown-item">Видалені</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" (click)="clearFilters()">Очистити фільтри</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="statistics.data" class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Користувач</th>
                    <th>Тема</th>
                    <th>Вкладка</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Переглянути</th>
                    <th *ngIf="isAdmin">#</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of statistics.data"
                    table-item
                    [item]="item"
                    (onClickUnit)="filterByUnit($event)"
                    (onClickUser)="filterByUser($event)"
                    (onSoftDelete)="softDelete($event)"
                >
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <pagination [paginator]="statistics"></pagination>
    </div>

</div>